@model IEnumerable<EmpleadosEBS.Models.Articulo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCocinero.cshtml";
}

<div class="jumbotron">
    <p>
        <a class="btn btn-outline-primary" asp-action="Create">Ingresar Insumo</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Denominacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnidadMedida)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Denominacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnidadMedida)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>