@model EmpleadosEBS.Models.PlatoDetalle

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutCocinero.cshtml";
}
<div class="jumbotron">
    <h3>Crear Plato</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreatePlato">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Plato.ID" />
                <div class="form-group">
                    <label asp-for="Plato.Denominacion" class="control-label"></label>
                    <input asp-for="Plato.Denominacion" class="form-control" />
                    <span asp-validation-for="Plato.Denominacion" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Plato.Imagen" />
                <div class="form-group">
                    <label asp-for="Plato.Descripcion" class="control-label"></label>
                    <textarea asp-for="Plato.Descripcion" class="form-control" id="exampleTextarea" rows="3"></textarea>
                    <span asp-validation-for="Plato.Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plato.PrecioVenta" class="control-label"></label>
                    <input asp-for="Plato.PrecioVenta" class="form-control" />
                    <span asp-validation-for="Plato.PrecioVenta" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Plato.Aprobado" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <table class="table">
                            @{
                                List<EmpleadosEBS.Models.PlatoIndexData.ArticuloAsignado> articulos = ViewBag.Articulos;

                                foreach (var articulo in articulos)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox"
                                                   name=@articulo.ID
                                                   value="@articulo.ID"
                                                   @(Html.Raw(articulo.Asignado ? "checked=\"checked\"" : "")) />
                                        </td>
                                        <td>
                                            @articulo.Denominacion

                                            @await Component.InvokeAsync("DetallePlato", new {@articulo.Denominacion})

                                        </td>
                                        <td>
                                            <input type="number"
                                                   style="width:50px"
                                                   name=@articulo.Cantidad
                                                   value="@articulo.Cantidad"
                                                   @(Html.Raw(articulo.Cantidad)) />
                                        </td>
                                        <td>
                                            @articulo.UnidadMedida
                                        </td>
                                    </tr>
                                    if (!articulo.Asignado)
                                    {

                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear Plato" class="btn btn-outline-success" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a class="btn btn-outline-info" asp-action="IndexPlato">Volver a la lista</a>
    </div>
</div>
