@model EmpleadosEBS.Models.PedidoIndexData.PedidoIndexData

@{
    
    Layout = "~/Views/Shared/_LayoutCocinero.cshtml";
}
<div class="jumbotron">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nro de Pedido
                </th>
                <th>
                    Fecha y hora
                </th>
                <th>
                    Detalle de Pedido
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pedidos)
            {
                if (item.EstadoPedido.Descripcion == "Aceptado")
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroPedido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaHora)
                        </td>
                        <td>
                            @{
                                foreach (var Plato in item.DetPedidos)
                                {
                                    if (Plato.PlatoID.HasValue)
                                    {

                                        @Plato.Cantidad @: @Plato.Plato.Denominacion <br />
                                    }
                                }
                            }
                        </td>
                        <td>
                            <a class="btn btn-outline-success" asp-action="EditPedido" asp-route-id="@item.ID">Confirmar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>