@model EmpleadosEBS.Models.PedidoIndexData.PedidoIndexData

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCocinero.cshtml";
}
<div class="jumbotron">
    <table class="table">
        <thead>
            <tr>
                <th>
                    FechaHora
                </th>
                <th>
                    Detalle de Pedido
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pedidos)
            {
                if (item.EstadoPedido.Descripcion == "Solicitado")
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaHora)
                        </td>
                        <td>
                            @{
                                foreach (var Plato in item.DetPedidos)
                                {
                                    if (Plato.PlatoID.HasValue)
                                    {

                                        @Plato.Cantidad @: @Plato.Plato.Denominacion<br />
                                    }
                                }
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <p>
        <a class="btn btn-outline-primary" asp-action="Create">Crear Pedido</a>
    </p>
</div>