@model EmpleadosEBS.Models.PedidoIndexData.PedidoIndexData

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCajero.cshtml";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                PorDelivery
            </th>
            <th>
                FechaHora
            </th>
            <th>
                PrecioVenta
            </th>
            <th>
                EstadoPedido
            </th>
            <th>
                Platos
            </th>
            <th>
                Articulos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pedidos)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["PedidoID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.PorDelivery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoPedido.Descripcion)
                </td>
                <td>
                    @{
                        foreach (var plato in item.DetPedidos)
                        {
                            @plato.Plato.ID @:  @plato.Plato.Denominacion <br />
                        }
                    }
                <td>
                <td>
                    @{
                        foreach (var articulo in item.DetPedidos)
                        {
                            @articulo.Articulo.ID @:  @articulo.Articulo.Denominacion <br />
                        }
                    }
                <td>
                    <a asp-action="Select" asp-route-id="@item.ID">Index</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Platos != null)
{
    <h3>Platos por Pedido</h3>
    <table class="table">
        <tr>
            <th>
                denominacion
            </th>
            <th>
                Precio Venta
            </th>
        </tr>

        @foreach (var item in Model.Platos)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["PlatoID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.Denominacion
                </td>
                <td>
                    @item.PrecioVenta
                </td>
            </tr>
        }
    </table>
}
@if (Model.Articulos != null)
{
    <h3>Articulos por Pedido</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>
                denominacion
            </th>
            <th>
                Precio Venta
            </th>
        </tr>

        @foreach (var item in Model.Articulos)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["PlatoID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { ID = item.ID })
                </td>
                <td>
                    @item.Denominacion
                </td>
                <td>
                    @item.PrecioVenta
                </td>
            </tr>
        }
    </table>
}