@model EmpleadosEBS.Models.Receta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutCocinero.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Receta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Articulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Articulo.Denominacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plato.Denominacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
