@model EmpleadosEBS.Models.PlatoIndexData.PlatoIndexData

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCocinero.cshtml";
}

<div class="jumbotron">
    <p>
        <a class="btn btn-outline-primary" asp-action="Create">Crear Nuevo Plato</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Denominacion
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Precio Venta
                </th>
                <th>
                    Receta
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Platos)
            {
                string selectedRow = "";
                if (item.ID == (int?)ViewData["PlatoID"])
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.Denominacion)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioVenta)
                    </td>
                    <td>
                        @{
                            foreach (var Articulo in item.Recetas)
                            {

                                @Articulo.Cantidad @:
                                @Articulo.Articulo.UnidadMedida @:
                                @Articulo.Articulo.Denominacion; <br />
                            }
                        }
                    </td>
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>